@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Este CRUD tem como objetivo ser utilizado em contextos de aprendizado e ensino. Aqui, é possível armazenar informações sobre produtos, porém,
        para garantir a segurança dos dados e evitar o acesso não autorizado, é necessário realizar um processo de autenticação.

        Assim, ao utilizar este CRUD, é possível simular situações reais de desenvolvimento de sistemas, tendo em vista as melhores práticas de segurança da informação.
    </p>
</div>
